<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Loading.io Javascript -->
    <script defer type="text/javascript" src="/javascripts/loading-bar.js"></script>
    <script defer src="/javascripts/loveCalculatorApi.js"></script>
    <title>Love Calculator</title>
</head>
<body>
    <!-- New Layout -->
    <h1><span>Love</span>Calculator</h1>
    <div class="container">
        <div class="sectionOne">
            <p class="directions">
                Want to find out if you and your crush are compatible?
                The love Calculator will return the percentage of
                compatability between you and your crush!
            </p>
        </div>
        <div class="sectionTwo">
            <div class="results">
                <div class="loadingHeart label-center"></div>
                <p class="message" id="mobileMessage"></p>
            </div>
            <input class="fName" type="text" placeholder="Enter Your Name">
            <input class="sName" type="text" placeholder="Enter Crush's Name">
        </div>
        <div class="sectionThree">
            <button class="submit" onclick="serverCall()">Submit</button>
        </div>
        <p class="message" id="desktopMessage"></p>
    </div>
</body>
</html>







