<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/javascripts/loveCalculatorApi.js"></script>
    <title>Love Calculator</title>
</head>
<body>
    <p>Are you a good match with your partner?</p>
    <input id="Fname" type="text" placeholder="Name">
    <input id="Sname" type="text" placeholder="Name">
    <button onclick="serverCall()">Submit</button>
</body>
</html>